
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    height: 500px;
    
}

.child{
    width: 200px;
    height: 200px;
    background-color:blueviolet;
    
}